name: update-notion-with-new-commits
on:
  push:
    branches:
      - main
jobs:
  setup-node-and-run-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm i
      - name: Printing commits on console
        run: |
          echo "${{github.event.commits}}" > commits.json
      - name: run-index
        env:
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          NOTION_KEY: ${{ secrets.NOTION_KEY }}
        run: npm start
